<h2>Density Map of Impaired Crashes during 2010-2014 <small>Washington, DC</small></h2>
<hr />
<form>
  <div class="form-group" class="col-md-6">
    <label>Filter by year:</label>
    <select ng-model="filterBy" class="form-control">
      <option value="total">Total 2010-2014</option>
      <option value="2010">2010</option>
      <option value="2011">2011</option>
      <option value="2012">2012</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
    </select>
  </div>
</form>

<density-map class="density-map" data="data" filter="filterBy"></density-map>