<h2>Impaired Crashes Report View <small>Washington, DC</small></h2>
<hr />
<form class="form">
  <div class="form-group">
    <label>Filter</label>
    <input ng-change="doQuery()" type="text" class="form-control" ng-model="query"></input>
  </div>
  <div class="checkbox"></div>
  <label>
    <input type="checkbox" ng-model="year2014">
    Show Year 2010
</label>
</form>

<table class="table table-striped">
  <thead>
    <th>City Name</th>
    <th ng-show="year2014">2010</th>
    <th>2011</th>
    <th>2012</th>
    <th>2013</th>
    <th>2014</th>
    <th>Total</th>
  </thead>
  <tbody>
    <tr ng-repeat="crash in data track by crash.objectid">
      <td>{{crash.name}}</td>
      <td ng-show="year2014">{{crash[2010]}}</td>
      <td>{{crash[2011]}}</td>
      <td>{{crash[2012]}}</td>
      <td>{{crash[2013]}}</td>
      <td>{{crash[2014]}}</td>
      <td>{{crash.total}}</td>
    </tr>
  </tbody>

</table>